<div class="row">
  <div class="col-md-11">
    <h1>{{name}}</h1>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-default" (click)="toggleEdit()"><span class="glyphicon glyphicon-edit"></span></button>
  </div>
</div>
<hr>
<div class="row">
  <div *ngFor="let col of cols" class="col-md-{{col.width}}">
    <div *ngFor="let widget of col.widgets" class="row">
      <div class="col-md-12">
        <app-widget-container [widgetId]="widget.id" settings="widget.settings"></app-widget-container>
      </div>
    </div>

    <div class="row" *ngIf="isEditMode">
      <div class="col-md-12">
        <div class="dropdown">
          <button type="button" class="btn btn-default form-control" id="addWidgetDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span></button>
          <ul class="dropdown-menu" aria-labelledby="addWidgetDropdown">
            <li *ngIf="getMetadatas(col.width).length === 0">No Widgets for width {{col.width}}</li>
            <li *ngFor="let metadata of getMetadatas(col.width)" (click)="addWidget(col, metadata)"><a>{{metadata.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>