.close-box {
  width: 40px;
  height: 40px;
  top: -10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  z-index: 50;
  text-align: center;
  color: #FFF;
  font-size: 17px;
  padding-top: 9px;
}

.close-box:hover {
  cursor: pointer;
}