<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Todo</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Decorators Presentation</li>
        <li class="list-group-item">Lunch Eatalico</li>
        <li class="list-group-item todo-done">Prepare Decorators Presentation<span class="glyphicon glyphicon-ok pull-right"></span></li>
        <li class="list-group-item todo-done">Ask Herbert what to eat<span class="glyphicon glyphicon-ok pull-right"></span></li>
      </ul>
    </div>
  </div>
</div>